.auth-root-reset {
    background: #fff;
    width: 300px;
    /* height: 400px; */
    margin: 80px auto 0;
    box-sizing: border-box;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 5px 20px;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;


}

.lock {
    background-color: turquoise;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
    color: white;
}

.form-controls {
    outline: none;
    border: 0;
    border-bottom: 2px solid turquoise;
    margin-top: 5px;
    padding: 5px 0;

}

.form-controls::placeholder {
    color: lightgray;
}

.form-controls::placeholder {
    color: lightgray;
}

.form-label {
    font-weight: 400;
}

.btn {
    border: none;
    background-color: turquoise;
    padding: 10px 35px;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    color: #fff;
    margin-top: 5px;
    border: 1px solid turquoise;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;


}

.btn:hover,
.btn:active {
    background-color: transparent;
    border: 1px solid turquoise;
    color: #000;

}