.auth-root-reset {
    background: #fff;
    width: 300px;
    /* height: 400px; */
    margin: 80px auto 0;
    box-sizing: border-box;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 5px 20px !important;
    border-radius: 4px;
}

.form-group {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
}

.heading {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: capitalize;


}

.lock {
    background-color: turquoise;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
    color: white;
}

.form-controls {
    outline: none !important;
    border: none !important;
    border-bottom: 2px solid turquoise !important;
    margin-top: 5px;
    padding: 5px 0;
    width:  100%;
    border-radius: 0 !important;

}

.form-controls::placeholder {
    color: lightgray;
}
.form-controls:focus,
.form-controls::backdrop {

    /* border: none !important; */
    box-shadow: none !important;

}

.form-label {
    font-weight: 400;
}

.btn {
    border: none;
    background-color: turquoise !important;
  
    width: 75%;
    margin: 0 auto;
    border-radius: 20px !important;
    color: #fff;
    margin-top: 5px ;
    border: 1px solid turquoise !important;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;


}

.btn:hover,
.btn:active {
    background-color: transparent;
    border: 1px solid turquoise;
    color: #000;

}